<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="com.project.LimeRMS.mapper.AuthenticationMapper">-->
<!--  <resultMap id="AuthenticationResultMap" type="com.project.LimeRMS.entity.Authentication">-->
<!--    <id property="authId" column="authId" />-->
<!--    <result property="authNm" column="authNm" />-->
<!--    <result property="authDesc" column="authDesc" />-->
<!--    <result property="priority" column="priority" />-->
<!--    <result property="regDt" column="regDt" />-->
<!--    <result property="regUserId" column="regUserId" />-->
<!--    <result property="modfDt" column="modfDt" />-->
<!--    <result property="modfUserId" column="modfUserId" />-->
<!--    &lt;!&ndash; Add more result mappings for other properties as needed &ndash;&gt;-->
<!--  </resultMap>-->
<!--  <insert id="insertAuthenticationDto" parameterType="com.project.LimeRMS.dto.AuthenticationDto">-->
<!--    INSERT INTO Authentication (authNm, authDesc, priority, regUserId, modfUserId)-->
<!--    VALUES (#{authNm}, #{authDesc}, #{priority}, #{regUserId}, #{modfUserId})-->
<!--  </insert>-->
<!--</mapper>-->
