<!-- AuthenticationMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.AuthenticationMapper">
  <select id="findAllAuth" resultType="com.project.LimeRMS.dto.AuthListDto">
    SELECT authId, authNm FROM Authentication
  </select>

  <select id="findOneAuthByUserId" resultType="com.project.LimeRMS.dto.UserAuthPriorityDto">
    SELECT
      a.priority
    FROM (
      SELECT u.authId as authId
      FROM `User` u
      WHERE u.userId = ${userId}) us
    LEFT JOIN Authentication a ON a.authId = us.authId
  </select>
</mapper>
