
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.BoardMapper">
  <select id="findOneByBoardId" parameterType="java.lang.String" resultMap="boardResultMap">
    SELECT
      b.*,
      bt.*
    FROM Board b
    LEFT JOIN BoardType bt ON b.boardTypeId = bt.boardTypeId
    WHERE boardId = #{boardId}
  </select>
  <select id="findAllBoardList" parameterType="java.lang.String" resultMap="boardResultMap">
    SELECT
      b.*,
      bt.*
    FROM Board b
    LEFT JOIN
      BoardType bt ON b.boardTypeId = bt.boardTypeId
    WHERE b.viewAuth >= ${authPriority}
  </select>
  <resultMap id="boardResultMap" type="com.project.LimeRMS.entity.Board">
    <id property="boardId" column="boardId" />
    <result property="boardNm" column="boardNm" />
    <result property="boardDesc" column="boardDesc" />
    <result property="boardStat" column="boardStat" />
    <result property="boardSn" column="boardSn" />
    <result property="viewAuth" column="viewAuth" />
    <result property="writeAuth" column="writeAuth" />
    <result property="commentAuth" column="commentAuth" />
    <result property="modifyAuth" column="modifyAuth" />
    <association property="boardType" javaType="com.project.LimeRMS.entity.BoardType">
      <id property="boardTypeId" column="boardTypeid" />
      <result property="boardTypeNm" column="boardTypeNm" />
    </association>
  </resultMap>

  <select id="findByBoardId" parameterType="java.lang.String" resultType="com.project.LimeRMS.entity.Board">
    SELECT * FROM Board WHERE boardId = #{boardId}
  </select>
  <select id="findAllBoardInfoList" resultType="com.project.LimeRMS.dto.BoardInfoDto">
      SELECT b.boardId, b.boardNm, b.regDt, b.boardStat, b.boardSn, COUNT(c.cateId) AS contentNum FROM Board b
      LEFT JOIN ContentCategory cc ON b.boardId = cc.boardId
      LEFT JOIN Content c ON cc.cateId = c.cateId
      GROUP BY b.boardId
      ORDER BY b.boardSn ASC
  </select>
  <update id="updateBoardSnByBoardId">
    UPDATE Board
    SET boardSn = #{boardSn}, modfUserId = #{modfUserId}
    WHERE boardId = #{boardId}
  </update>
</mapper>
