
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.BoardMapper">
  <select id="findOneByBoardId" parameterType="java.lang.String" resultMap="boardResultMap">
    SELECT
      b.*,
      bt.*
    FROM Board b
    LEFT JOIN BoardType bt ON b.boardTypeId = bt.boardTypeId
    WHERE boardId = #{boardId}
  </select>
  <select id="findAllBoardList" parameterType="java.lang.String" resultMap="boardResultMap">
    SELECT
      b.*,
      bt.*
    FROM Board b
    LEFT JOIN
      BoardType bt ON b.boardTypeId = bt.boardTypeId
    WHERE b.viewAuth >= ${authPriority}
    ORDER BY b.boardSn
  </select>
  <resultMap id="boardResultMap" type="com.project.LimeRMS.entity.Board">
    <id property="boardId" column="boardId" />
    <result property="boardNm" column="boardNm" />
    <result property="boardDesc" column="boardDesc" />
    <result property="boardStat" column="boardStat" />
    <result property="boardSn" column="boardSn" />
    <result property="viewAuth" column="viewAuth" />
    <result property="writeAuth" column="writeAuth" />
    <result property="commentAuth" column="commentAuth" />
    <result property="modifyAuth" column="modifyAuth" />
    <result property="rentalPeriod" column="rentalPeriod" />
    <result property="extensionLimit" column="extensionLimit" />
    <result property="rentalLimit" column="rentalLimit" />
    <association property="boardType" javaType="com.project.LimeRMS.entity.BoardType">
      <id property="boardTypeId" column="boardTypeid" />
      <result property="boardTypeNm" column="boardTypeNm" />
      <result property="contentViewType" column="contentViewType" />
      <result property="boardViewType" column="boardViewType" />
    </association>
  </resultMap>

  <select id="findByBoardId" parameterType="java.lang.String" resultType="com.project.LimeRMS.entity.Board">
    SELECT * FROM Board WHERE boardId = #{boardId}
  </select>
  <select id="findAllBoardInfoList" resultType="com.project.LimeRMS.dto.BoardInfoDto">
      SELECT b.boardId, b.boardNm, b.regDt, b.boardStat, b.boardSn, COUNT(c.cateId) AS contentNum FROM Board b
      LEFT JOIN ContentCategory cc ON b.boardId = cc.boardId
      LEFT JOIN Content c ON cc.cateId = c.cateId
      GROUP BY b.boardId
      ORDER BY b.boardSn ASC
  </select>
  <update id="updateBoardSnByBoardId">
    UPDATE Board
    SET boardSn = #{boardSn}, modfUserId = #{modfUserId}
    WHERE boardId = #{boardId}
  </update>

  <select id="findOneByContentId" resultType="com.project.LimeRMS.dto.BoardListDto">
    SELECT *
    FROM (
        SELECT
            b.boardId,
            b.boardNm,
            b.boardTypeId,
            b.boardStat,
            b.boardDesc,
            b.boardSn,
            b.viewAuth,
            b.writeAuth,
            b.commentAuth,
            b.modifyAuth,
            b.rentalPeriod,
            b.extensionLimit,
            b.rentalLimit
        FROM Board b
        WHERE b.boardId = (SELECT c.boardId FROM Content c WHERE c.contentId = ${contentId})) bb
    LEFT JOIN (
        SELECT
            bt.boardTypeId,
            bt.boardTypeNm,
            bt.boardViewType,
            bt.contentViewType
        FROM BoardType bt
    ) btt ON bb.boardTypeId = btt.boardTypeId;
  </select>

  <select id="findAllBoardManagerByBoardId">
    SELECT userId
    FROM BoardManager
    WHERE delYn != 'Y' AND boardId = #{boardId}
  </select>

  <select id="findBoardImgPathByBoardId">
    SELECT boardImg FROM Board WHERE boardId = #{boardId}
  </select>

  <update id="updateBoardImgByBoardId">
    UPDATE Board
    SET boardImg = #{boardImgPath}, modfUserId = #{modfUserId}
    WHERE boardId = #{boardId}
  </update>

  <select id="findBoardModfAuthByContentId">
    SELECT modifyAuth
    FROM Board
    WHERE boardId = (SELECT boardId FROM Content WHERE contentId = #{contentId});
  </select>
</mapper>
