<!-- AuthenticationMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.BoardMapper">
    <select id="findAllBoard" resultType="com.project.LimeRMS.dto.BoardInfoDto">
        SELECT b.boardId, b.boardNm, b.regDt, b.boardStat, COUNT(c.cateId) AS contentNum FROM Board b
        LEFT JOIN ContentCategory cc ON b.boardId = cc.boardId
        LEFT JOIN Content c ON cc.cateId = c.cateId
        GROUP BY b.boardId
    </select>
</mapper>
