<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.LimeRMS.mapper.CommentMapper">
  <insert id="saveComment">
    INSERT INTO Comment (userId, contentId, parentCommentId, comment, score)
    VALUES (#{userId}, #{contentId}, #{parentCommentId}, #{comment}, #{score})
  </insert>
  <update id="modifyComment">
    UPDATE Comment
    SET comment =#{comment}, score=#{score}, modfUserId=#{userId}
    WHERE userId=#{userId} AND commentId=#{commentId}
  </update>
  <update id="deleteComment">
    UPDATE Comment
    SET delYn ='Y', modfUserId=#{userId}
    WHERE commentId=#{commentId}
  </update>
  <select id="listComment">
    SELECT c.commentId, c.parentCommentId, c.comment, c.score, c.modfDt, c.delYn, u.userId, u.userNm, u.profileImg
    FROM Comment c
    LEFT JOIN User u ON c.userId = u.userId
    WHERE c.contentId = #{contentId}
  </select>
</mapper>