<!-- AuthenticationMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.NotificationMapper">
  <update id="updateNotiStatusByNotiId">
    UPDATE Notification
    SET notiStatus = 'CD005002'
    WHERE notiId = #{notiId}
  </update>
</mapper>
