<!-- AuthenticationMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.NotificationMapper">
  <update id="updateNotiStatusByNotiId">
    UPDATE Notification
    SET notiStatus = 'CD005002'
    WHERE notiId = #{notiId}
  </update>

  <select id="findNotificationByUserId">
    SELECT notiId, notiContent, joinDt
    FROM Notification
    WHERE receiverId = #{userId} AND notiStatus = 'CD005001'
  </select>

  <select id="findNotiByContentId">
    SELECT *
    FROM Notification
    WHERE contentId = #{contentId}
    AND notiType = #{notiType}
    AND receiverId = #{receiverId}
    ORDER BY joinDt DESC
    LIMIT 1;
  </select>

  <insert id="insertOverdueNoti">
    INSERT INTO Notification (contentId, receiverId, regUserId, notiType, notiContent)
    VALUES (#{contentId}, #{receiverId}, #{regUserId}, #{notiType}, #{notiContent});
  </insert>

</mapper>
