<!-- AuthenticationMapper.xml -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.LimeRMS.mapper.RentalMapper">
    <select id="findRentalByRentalStat" resultType="com.project.LimeRMS.dto.OverdueContentListDto">
        SELECT r.rentalId, r.rentalDt, r.returnDt, r.rentalStat, u.userId, u.userNm, c.contentId, c.contentNm FROM Rental r
        LEFT JOIN User u ON r.rentalUserId = u.userId
        LEFT JOIN Content c ON r.contentId = c.contentId
        WHERE rentalStat = #{rentalStat}
    </select>

    <select id="findRentalListByUserId" resultType="com.project.LimeRMS.dto.RentalListDto">
        SELECT
            rt.rentalId,
            b.boardNm,
            b.boardId,
            cc.cateNm,
            rt.contentId,
            c.contentNm,
            rt.rentalDt,
            rt.predReturnDt,
            rt.returnDt,
            rt.rentalStat
        FROM
            (SELECT
                r.rentalId,
                r.contentId,
                r.rentalDt,
                r.returnDt,
                r.predReturnDt,
                r.rentalStat
                FROM Rental r
            WHERE r.rentalUserId = #{userId}) rt
        LEFT JOIN Content c ON c.contentId = rt.contentId
        LEFT JOIN Board b ON b.boardId = c.boardId
        LEFT JOIN ContentCategory cc ON cc.cateId = c.cateId
        LEFT JOIN Rental r ON r.contentId = c.contentId ;
    </select>

    <update id="updateOverdue">
        UPDATE Rental
        SET rentalStat = 'CD001003'
        WHERE <![CDATA[predReturnDt < NOW()]]>
        AND rentalStat = 'CD001001'
    </update>

    <select id="findLatestStatByContentId">
        SELECT
            rentalStat
        FROM Rental
        WHERE contentId = ${contentId}
        ORDER BY modfDt DESC
        LIMIT 1
    </select>
</mapper>
